<h1>Projects and Activities</h1>


<h3>Track all projects and related tasks within this application.<h3>
<h5>Click on the Projects link in the nav bar above to see a listing of all projects and to add a new project. View/Add tasks by clicking on the tasks link above.</h5>
<p>Note: This application demonstrates basic functionality using associations within Rails</p>




